<img class="profile" src="{{site.profile}}">
<h1 class="site-title">
    {{site.title}}
</h1>
<small>
    <i class="fa-solid fa-envelope"></i>
    {{site.email}}
</small>
<h2 class="social-medias">
    <span class="social-medias">
        <a href="https://github.com/qusuyan"><i class="fa-brands fa-github"></i></a>
        <a href="https://www.linkedin.com/in/suyan-qu-9aa63b157/"><i class="fa-brands fa-linkedin"></i></a>
        <a href="https://x.com/suyan_qu"><i class="fa-brands fa-square-twitter"></i></a>
    </span>
</h2>

<audio controls loop>
    <source src="{{site.bgm}}" type="audio/ogg">
    Your browser does not support the audio element.
</audio>
<br />
<small><i>Searching the Unknown - Alistair Sung</i></small>